// Color definition
$purple-100: #4D47C3;
$purple-200: #A7A3FF;
$purple-300: #e6e3fb;

$white-100: #F5F6FA;
$white-200: #F3F3F7;

$grey-100: #B0B0B0;

$success: #28A745;
$warning: #FFC107;
$error: #DC3545;
$info: #17A2B8;

// HTML element color definition
$light-background-color: $white-100;

$link-color: $purple-100;